__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.vscode/
.idea/
*.jpg
*.png
!final_composite_qr.jpg
!final_solution.png
!final_solved_qr.png
!final_stitched_solution.jpg
!LR_QR.jpg
!PXL_20251223_005656289.jpg
!Screenshot_20251222-175703.png
